Repository tnkuehne/gether: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: node

eslint:
  name: eslint
  entry: npx eslint --fix
  language: node

do it client side
  packages/ui/src/hooks.client.ts
  packages/ui/src/hooks.server.ts
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/github-files.svelte.ts
  packages/ui/src/routes/[org]/[repo]/github.ts
  packages/ui/src/routes/[org]/[repo]/repo.remote.ts
Due: prettier, eslint

do it client side
  packages/ui/src/routes/dashboard/+page.svelte
  packages/ui/src/routes/dashboard/dashboard.remote.ts
  packages/ui/src/routes/dashboard/github.ts
Due: prettier, eslint

remove recursion
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/github-files.svelte.ts
  packages/ui/src/routes/[org]/[repo]/github-files.ts
Due: prettier, eslint

file navigation (#1)
  README.md
  packages/ui/src/hooks.client.ts
  packages/ui/src/hooks.server.ts
  packages/ui/src/routes/+page.svelte
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/github-files.ts
  packages/ui/src/routes/[org]/[repo]/github.ts
  packages/ui/src/routes/dashboard/+page.svelte
  packages/ui/src/routes/dashboard/github.ts
Due: prettier, eslint

cleanup dashboard
  packages/ui/src/routes/dashboard/+page.svelte
Due: prettier, eslint

make dashboard responsive
  packages/ui/src/routes/dashboard/+page.svelte
Due: prettier, eslint

make file page responsive
  packages/ui/src/routes/[org]/[repo]/+page.svelte
Due: prettier, eslint

remove useless buttons
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

make editor responsive
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

remove weird gap
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

wip
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/github.ts
Due: prettier, eslint

wip
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

remove unused
  packages/ui/src/lib/github-app.ts
Due: prettier, eslint

simplify
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

redo editor data loading (#2)
  packages/ui/src/lib/github-app.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/github.ts
Due: prettier, eslint

Selfhost guide
  README.md
Due: prettier

make posthog optional
  packages/ui/src/hooks.client.ts
  packages/ui/src/hooks.server.ts
  packages/ui/src/lib/server/posthog.ts
  packages/ui/src/routes/+layout.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

selfhost guide (#3)
  README.md
  packages/ui/src/hooks.client.ts
  packages/ui/src/hooks.server.ts
  packages/ui/src/lib/server/posthog.ts
  packages/ui/src/routes/+layout.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

branch selector
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/github.ts
Due: prettier, eslint

make it easier to add files
  packages/ui/src/routes/[org]/[repo]/+page.svelte
Due: prettier, eslint

responsive
  packages/ui/src/routes/[org]/[repo]/+page.svelte
Due: prettier, eslint

cleanup
  packages/ui/src/routes/[org]/[repo]/+page.svelte
Due: prettier, eslint

branch selector (#4)
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/github.ts
Due: prettier, eslint

update readme
  README.md
Due: prettier

add logo
  README.md
  packages/ui/src/app.html
  packages/ui/src/lib/assets/favicon.svg
  packages/ui/src/lib/assets/logo.svg
  packages/ui/src/routes/+page.svelte
  packages/ui/static/favicon.svg
Due: prettier, eslint

add live cursors to homepage
  packages/ui/src/lib/components/collaborative-cursor.svelte
  packages/ui/src/routes/+page.svelte
Due: prettier, eslint

change wording
  packages/ui/src/routes/+page.svelte
Due: prettier, eslint

only index homepage
  packages/ui/static/robots.txt
Due: none

Add feature
  README.md
Due: prettier

Fix
  README.md
Due: prettier

Add logo.svg file for GitHub repository branding
  .github/logo.svg
Due: none

Update logo.svg for improved styling and colors
  .github/logo.svg
Due: none

Replace static logo with responsive picture element
  README.md
Due: prettier

Fix typos and add feature
  README.md
Due: prettier

roadmap updates
  README.md
Due: prettier

Add roadmap section to README
  README.md
Due: prettier

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/prek.yaml
Due: none

fix formatting
  README.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|ts|json|css|scss|html|md|svelte)$, but not: ^(\.|node_modules/|worker-configuration\.d\.ts)
  eslint: any of: \.(js|ts|svelte)$, but not: ^(\.|node_modules/|worker-configuration\.d\.ts)
