Repository tnkuehne/gether: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: node

eslint:
  name: eslint
  entry: npx eslint --fix
  language: node

fix tailwind config
  package.json
Due: prettier

auto setup prek
  package.json
Due: prettier

remove comments from json
  packages/collab/tsconfig.json
  packages/ui/tsconfig.json
Due: prettier

fix more warnings
  eslint.config.js
  packages/ui/src/lib/components/editor/CodeMirror.svelte
  packages/ui/src/lib/github-app.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/ws/+server.ts
Due: prettier, eslint

fix more warnings
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

fix workflow
  .github/workflows/prek.yaml
Due: none

fix workflow
  package.json
Due: prettier

setup sandboxes
  packages/preview/Dockerfile
  packages/preview/README.md
  packages/preview/package.json
  packages/preview/src/index.ts
  packages/preview/tsconfig.json
  packages/preview/worker-configuration.d.ts
  packages/preview/wrangler.jsonc
  pnpm-lock.yaml
Due: prettier, eslint

wip of preview
  packages/preview/Dockerfile
  packages/preview/src/index.ts
  packages/ui/src/routes/+layout.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox/+server.ts
  packages/ui/wrangler.jsonc
Due: prettier, eslint

use remote functions instead of api endpoints
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox/+server.ts
Due: prettier, eslint

syncing
  packages/preview/src/index.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

show preview live in code
  packages/preview/src/index.ts
  packages/preview/worker-configuration.d.ts
  packages/preview/wrangler.jsonc
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

use config file
  packages/preview/src/index.ts
  packages/ui/src/lib/github-app.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.ts
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

add tooltip informming about feature
  packages/ui/src/routes/+layout.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

remove useless readme
  README.md
Due: prettier

Add License
  LICENSE
Due: none

update to new domain
  packages/ui/src/routes/+page.svelte
Due: prettier, eslint

update readme
  README.md
Due: prettier

more explaining readme
  README.md
Due: prettier

add posthog error tracking
  packages/ui/package.json
  packages/ui/src/hooks.client.ts
  packages/ui/src/hooks.server.ts
  packages/ui/src/lib/server/posthog.ts
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: prettier, eslint

feature flag preview feature
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
Due: prettier, eslint

add posthog cli when running build script
  packages/ui/package.json
Due: prettier

fix preview variables
  packages/preview/wrangler.jsonc
Due: none

identify user correctly
  packages/ui/package.json
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/sandbox.remote.ts
  pnpm-lock.yaml
Due: prettier, eslint

bigger instance
  packages/preview/wrangler.jsonc
Due: none

upgrade preview instance
  packages/preview/wrangler.jsonc
Due: none

prerender homepage
  packages/ui/src/routes/+page.ts
Due: prettier, eslint

add sign-in hint
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

wip file navigation
  packages/ui/src/routes/+page.svelte
  packages/ui/src/routes/dashboard/+page.svelte
  packages/ui/src/routes/dashboard/dashboard.remote.ts
Due: prettier, eslint

wip repo dashboard
  packages/ui/src/routes/dashboard/+page.svelte
  packages/ui/src/routes/dashboard/dashboard.remote.ts
Due: prettier, eslint

file nav
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/repo.remote.ts
  packages/ui/src/routes/dashboard/+page.svelte
  packages/ui/src/routes/dashboard/dashboard.remote.ts
Due: prettier, eslint

add file buttton
  packages/ui/src/routes/[org]/[repo]/+page.svelte
  packages/ui/src/routes/[org]/[repo]/repo.remote.ts
Due: prettier, eslint

remove useless info
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

back button
  packages/ui/src/routes/[org]/[repo]/blob/[branch]/[...path]/+page.svelte
Due: prettier, eslint

check of feature
  README.md
Due: prettier

less ui clutter
  packages/ui/src/routes/dashboard/+page.svelte
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|ts|json|css|scss|html|md|svelte)$, but not: ^(\.|node_modules/|worker-configuration\.d\.ts)
  eslint: any of: \.(js|ts|svelte)$, but not: ^(\.|node_modules/|worker-configuration\.d\.ts)
